// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.presentation {
  padding: 20px;
}
.smaller {
  margin-bottom: 20px;
  font-size: smaller;
}